.paramedic-sign-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.healthlink-medical10 {
  font-weight: 500;
}
.span10 {
  font-weight: 600;
}
.healthlink-medical-center-container10 {
  position: absolute;
  top: 16px;
  left: 85px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo10 {
  position: absolute;
  top: calc(50% - 31.5px);
  left: 80px;
  width: 405px;
  height: 64px;
}
.logo-header6 {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--accent-1);
  height: 80px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  z-index: 1000;
}
.home7,
.services4 {
  position: absolute;
  top: calc(50% - 13.5px);
  font-weight: 600;
  display: inline-block;
}
.home7 {
  text-decoration: none;
  left: 0;
  color: inherit;
  width: 57px;
  cursor: pointer;
}
.services4 {
  left: 81px;
  width: 78px;
}
.blog4,
.our-team4,
.services4 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.our-team4 {
  position: absolute;
  top: calc(50% - 13.5px);
  left: 183px;
  font-weight: 600;
  display: inline-block;
  width: 92px;
}
.blog4 {
  left: 299px;
  width: 44px;
}
.about-us13,
.blog4,
.customer-support5,
.find-us5,
.patient-resources4,
.testimonials8 {
  position: absolute;
  top: calc(50% - 13.5px);
  font-weight: 600;
  display: inline-block;
}
.patient-resources4 {
  text-decoration: none;
  left: 367px;
  color: inherit;
  width: 164px;
  cursor: pointer;
}
.about-us13,
.customer-support5,
.find-us5,
.testimonials8 {
  left: 554px;
  width: 167px;
}
.about-us13,
.find-us5,
.testimonials8 {
  text-decoration: none;
  left: 746px;
  color: inherit;
  width: 117px;
  cursor: pointer;
}
.about-us13,
.find-us5 {
  left: 887px;
  width: 69px;
}
.about-us13 {
  left: 980px;
  width: 83px;
}

.navigation-header4 {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 70px;
  color: var(--text-style);
  z-index: 1000;
  background-color: white;
  text-align: center;
  font-size: var(--font-size-xl);

}
.home-customer-support,
.your-partner-in {
  position: absolute;
  left: 109px;
  display: inline-block;
}
.home-customer-support {
  top: 64px;
  font-weight: 600;
  width: 302px;
}
.your-partner-in {
  top: 99px;
  font-size: var(--font-size-5xl);
  width: 410px;
}
.frequently-asked-questions1,
.picture-icon3 {
  position: absolute;
  height: 188px;
  overflow: hidden;
}
.picture-icon3 {
  top: 0;
  left: 949.5px;
  width: 206px;
  object-fit: cover;
}
.frequently-asked-questions1 {
  top: 202px;
  left: calc(50% - 640px);
  background: linear-gradient(
    91.24deg,
    #cbdfe6,
    rgba(203, 223, 230, 0.56) 66.35%,
    rgba(203, 223, 230, 0.35),
    rgba(203, 223, 230, 0)
  );
  width: 1280px;
  font-size: var(--font-size-xl);
}
.patient-advocacy {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  display: inline-block;
  width: 326px;
}
.appointment-schedule {
  position: absolute;
  top: 747px;
  left: 165px;
  width: 1110px;
  height: 251px;
}
.privacy-and-data {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  display: inline-block;
  width: 433px;
}
.safeguarding-your-personal {
  position: absolute;
  top: calc(50% - 49.5px);
  left: calc(50% - 531px);
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 35px;
  display: inline-block;
  font-weight: 500;
  color: var(--text-style);
  width: 1062px;
}
.appointment-schedule1 {
  position: absolute;
  top: 1118px;
  left: 165px;
  width: 1110px;
  height: 251px;
}
.our-commitment-to {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 531px);
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 35px;
  display: inline-block;
  font-weight: 500;
  color: var(--text-style);
  width: 1062px;
}
.appointment-schedule2,
.footer-child1 {
  position: absolute;
  top: 446px;
  left: 165px;
  width: 1110px;
  height: 181px;
}
.footer-child1 {
  top: 103.3px;
  left: -0.7px;
  border-top: 1.5px solid var(--primary-3);
  box-sizing: border-box;
  width: 1441.5px;
  height: 1.5px;
}
.ilishan-remo4 {
  position: absolute;
  top: 52px;
  left: calc(50% - 120.5px);
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-cadetblue-100);
  display: inline-block;
  width: 241px;
}
.logo11 {
  position: absolute;
  top: calc(50% - 96.5px);
  left: 80px;
  width: 411px;
  height: 64px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.about-healthlink4,
.about-us15 {
  position: absolute;
  left: calc(50% - 109px);
  display: inline-block;
}
.about-us15 {
  top: 0;
  font-size: var(--font-size-5xl);
  color: var(--primary-3);
  width: 137px;
}
.about-healthlink4 {
  top: 41px;
  font-weight: 500;
  width: 156px;
  cursor: pointer;
}
.about-us14,
.news-media4 {
  position: absolute;
  width: 218px;
}
.news-media4 {
  top: 73px;
  left: calc(50% - 109px);
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.about-us14 {
  top: 199px;
  left: 599px;
  height: 98px;
}
.book-an-appointment4,
.ecare4,
.quick-links9 {
  position: absolute;
  left: calc(50% - 96px);
  display: inline-block;
}
.quick-links9 {
  top: 0;
  font-size: var(--font-size-5xl);
  color: var(--primary-3);
  width: 136px;
}
.book-an-appointment4,
.ecare4 {
  top: 41px;
  font-weight: 500;
  width: 83px;
  cursor: pointer;
}
.book-an-appointment4 {
  top: 73px;
  width: 192px;
}
.quick-links8 {
  position: absolute;
  top: 199px;
  left: 842px;
  width: 192px;
  height: 98px;
}
.contact-us9 {
  position: absolute;
  top: 0;
  left: calc(50% - 66px);
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--primary-3);
  width: 132px;
}
.div28,
.div29 {
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.div28 {
  position: absolute;
  top: 41px;
  width: 132px;
}
.div29 {
  top: 74px;
}
.div29,
.div30,
.div31 {
  position: absolute;
  width: 132px;
}
.div30 {
  top: 107px;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.div31 {
  top: 140px;
}
.div31,
.div32,
.div33 {
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.div32 {
  position: absolute;
  top: 173px;
  width: 132px;
}
.div33 {
  top: 206px;
}
.contact-us8,
.div33,
.div34 {
  position: absolute;
  width: 132px;
}
.div34 {
  top: 239px;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.contact-us8 {
  top: 199px;
  left: 1143px;
  height: 264px;
  color: var(--color-cadetblue-200);
}
.follow-us4 {
  position: absolute;
  top: 0;
  left: calc(50% - 76px);
  font-weight: 600;
  display: inline-block;
  width: 84px;
}
.facebook4,
.vector-icon69 {
  position: absolute;
  overflow: hidden;
}
.vector-icon69 {
  height: 85.71%;
  width: 46.94%;
  top: 6.12%;
  right: 27.35%;
  bottom: 8.16%;
  left: 25.71%;
  max-width: 100%;
  max-height: 100%;
}
.facebook4 {
  text-decoration: none;
  top: 28.8px;
  left: -0.2px;
  border-radius: var(--br-11xs);
  border: 0.5px solid var(--primary-3);
  box-sizing: border-box;
  width: 24.5px;
  height: 24.5px;
}
.vector-icon70,
.vector-icon71,
.vector-icon72,
.vector-icon73 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon70 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xs);
}
.vector-icon71,
.vector-icon72,
.vector-icon73 {
  height: 44.17%;
  width: 36.25%;
  top: 33.75%;
  right: 25.83%;
  bottom: 22.08%;
  left: 37.92%;
}
.vector-icon72,
.vector-icon73 {
  height: 43.75%;
  width: 8.33%;
  top: 34.17%;
  right: 70%;
  left: 21.67%;
}
.vector-icon73 {
  height: 7.92%;
  width: 7.92%;
  top: 22.08%;
  bottom: 70%;
  left: 22.08%;
}
.vector-icon74 {
  height: 20%;
  width: 8.33%;
  top: 34.17%;
  right: 53.75%;
  bottom: 45.83%;
  left: 37.92%;
  max-width: 100%;
  max-height: 100%;
}
.linkedin4,
.vector-icon74,
.vector-icon75 {
  position: absolute;
  overflow: hidden;
}
.linkedin4 {
  text-decoration: none;
  top: 29px;
  left: 32px;
  width: 24px;
  height: 24px;
}
.vector-icon75 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon76 {
  position: absolute;
  top: calc(50% - 5.2px);
  left: calc(50% - 4.9px);
  border-radius: 1.26px;
  width: 10px;
  height: 10px;
}
.youtube4 {
  text-decoration: none;
  position: absolute;
  top: 29px;
  left: 64px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vector-icon77,
.vector-icon78 {
  position: absolute;
  height: 17.08%;
  width: 24.17%;
  top: 57.08%;
  right: 64.17%;
  bottom: 25.83%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon78 {
  height: 82.92%;
  width: 94.17%;
  top: 9.17%;
  right: 2.08%;
  bottom: 7.92%;
  left: 3.75%;
}
.vector-icon79 {
  height: 23.75%;
  width: 17.5%;
  top: 37.08%;
  right: 75%;
  bottom: 39.17%;
  left: 7.5%;
  max-width: 100%;
  max-height: 100%;
}
.twitter4,
.vector-icon79,
.vector-icon80 {
  position: absolute;
  overflow: hidden;
}
.twitter4 {
  text-decoration: none;
  top: 29px;
  left: 96px;
  width: 24px;
  height: 24px;
}
.vector-icon80 {
  height: 95.83%;
  width: 95.83%;
  top: 2.08%;
  right: 2.08%;
  bottom: 2.08%;
  left: 2.08%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon81 {
  height: 47.92%;
  width: 47.92%;
  top: 25.83%;
  right: 26.25%;
  bottom: 26.25%;
  left: 25.83%;
  max-width: 100%;
  max-height: 100%;
}
.instagram4,
.vector-icon81,
.vector-icon82 {
  position: absolute;
  overflow: hidden;
}
.vector-icon82 {
  height: 12.08%;
  width: 12.08%;
  top: 18.33%;
  right: 17.92%;
  bottom: 69.58%;
  left: 70%;
  max-width: 100%;
  max-height: 100%;
}
.instagram4 {
  text-decoration: none;
  top: 29px;
  left: 128px;
  width: 24px;
  height: 24px;
}
.footer4,
.socials4 {
  position: absolute;
  top: 468px;
  left: 165px;
  width: 152px;
  height: 53px;
  color: var(--primary-1);
}
.footer4 {
  top: 1489px;
  left: 0;
  background-color: var(--accent-2);
  width: 1440px;
  height: 561px;
  overflow: hidden;
  font-size: var(--font-size-lg);
  color: var(--color-cadetblue-100);
}
.customer-support4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2050px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--primary-3);
  font-family: var(--font-nunito);
}

/* Add hover effect to .healthlink-medical-center-container4 */
.healthlink-medical-center-container10:hover {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--primary-1);
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.navigation-header4 a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-style);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.navigation-header4 a .underline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  background-color: var(--primary-1);
  transition: width 0.3s ease;
}
.navigation-header4 a:hover {
  color: var(--color-white);
  background-color: var(--primary-1);
  animation: linkHoverAnimation 0.5s ease;
}

@keyframes linkHoverAnimation {
  /* Define your animation keyframes for links here */
  /* For example, you can scale and fade in on hover */
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

/* Add hover effect with box fill for .our-story-and */
.your-partner-in {
  position: relative;
  display: inline-block; /* Ensures the hover effect only covers the text width */
}

.your-partner-in::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px; /* Adjust the line height as needed */
  background-color: #3498db; /* Set your desired background color */
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease; /* Adjust the transition duration as needed */
}

.your-partner-in:hover::before {
  transform: scaleX(1);
}

/* Add hover effect with box fill for .welcome-to-healthlink-container */
.safeguarding-your-personal {
 
  overflow: hidden;
}

.safeguarding-your-personal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #656e7446; /* Set your desired background color */
  transition: width 0.3s ease; /* Adjust the transition duration as needed */
}

.safeguarding-your-personal:hover::before {
  width: 100%;
}

.our-commitment-to {
 
  overflow: hidden;
}

.our-commitment-to::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #656e7446; /* Set your desired background color */
  transition: width 0.3s ease; /* Adjust the transition duration as needed */
}

.our-commitment-to:hover::before {
  width: 100%;
}